<nav aria-label="Page navigation example" *ngIf = "(true)">
  <ul class="pagination justify-content-center">
    <li class="page-item" 
    (click) = " currentPage = currentPage -1 "
    [ngClass] = "{ disabled : currentPage == 0 }">
    <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <ng-container  *ngFor = "let img of images; let i = index;">
      <li class="page-item " 
      [ngClass] = "{ active : i === currentPage}"
      (click) = "currentPage = i "
      *ngIf="checkWindowIndex(i)">
        <a class="page-link" href="#">{{i + 1}}</a>
      </li>
    </ng-container>
    <li class="page-item" [ngClass]= "{ disabled : currentPage == images.length - 1 }">
      <a class="page-link" href="#" (click) = " currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>
<div class="text-center">
  <!-- passing data to custom data directive -->
  <h1 appColor [bacgroundColor] = "'green'">{{images[currentPage].title}}</h1>
  <img [src] = "images[currentPage].url"/>
</div>
<div class="card">
  <!-- appColor like this we define directive -->
  <p appColor>Custom directive check</p>
  <p appColor [bacgroundColor] = "'pink'">custom directive check with parameter</p>
</div>

